.main {
height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;

  
  
}

.input-group {
    max-width: 511px;
    width: 100%;
}

.regular-text {
    max-width: 423px;
    width: 100%;
}

